<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
<head>
<style>
	.container {
  		position: relative;
  	}
  	.headerItem {
  		float: left;
  		width: 100px;
  	}
	.form {
		float: left;
		width: 300px;
	}
	.table {
		float:left;
		width: 700px;
	}
	.floatClear {
		clear: left;
	}
	label {
		display: block;
		width: 150px;
		float: left;
	}
</style>	
</head>
<body>
	<div class="container">
	
	<div class="header">
	<div class="headerItem">
	<h2>Load Rules</h2>
	<a href="/load">Load</a>
	</div>
	
	<br class="floatClear" />
	</div>
	
	<div class="row">
	<div class="form">
	<h2>Add Applicant</h2>
	<form action="/addApplicant" method="post">
		<label forName="name">Name</label>
		<input type="text" name="name"/>
		<br />
		<label forName="veteran">Veteran?</label>
		<input type="checkbox" name="veteran" />
		<br />
		<label forName="parent">Parent?</label>
		<input type="checkbox" name="parent" />
		<br />
		<label forName="disabled">Disabled?</label>
		<input type="checkbox" name="disabled" />
		<br />
		<label forName="married">Married?</label>
		<input type="checkbox" name="married" />
		<br />
		
		<input type="submit" />
	</form>
	</div>
	
	<div class="table">
	<h2>Applicant</h2>
	<table>
		<thead>
			<td>name</td>
			<td>veteran</td>
			<td>parent</td>
			<td>disabled</td>
			<td>married</td>
			<td>tasks</td>
		</thead>
		<tbody>
			<tr th:if="${applicants.size() == 0}">
				<td colspan="5">No Applicants</td>
			</tr>
			<tr th:each="applicant : ${applicants}">
				<td><a th:href="'/deleteApplicant/' + ${applicant.name}" th:text="${applicant.name}"/></td>
				<td th:text="${applicant.veteran}">veteran</td>
				<td th:text="${applicant.parent}">parent</td>
				<td th:text="${applicant.disabled}">disabled</td>
				<td th:text="${applicant.married}">married</td>
				<td th:text="${applicant.tasks}">tasks</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<br class="floatClear" />	
	</div>
		
	<div class="row">
	<div class="form">
	<h2>Add Rule</h2>
	<form action="/addRule" method="post">
		<label forName="name">Name</label>
		<input type="text" name="name" />
		<br />
		<label forName="description">Description</label>
		<input type="text" name="description" />
		<br />
		<label forName="comparison">Comparison</label>
		<textarea rows="4" cols="50" name="comparison" />
		<!--
		<input type="text" name="comparison" />
		-->
		<br />
		<label forName="action">Action</label>
		<textarea rows="4" cols="50" name="action" />
		<!--
		<input type="text" name="action" />
		-->
		<br />
		<input type="submit" />
	</form>
	</div>
	
	<div class="table">
	<h2>Rules</h2>
	<table>
		<thead>
			<tr>
				<td>id</td>
				<td>name</td>
				<td>description</td>
				<td>comparison</td>
				<td>action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${rules.size() == 0}">
				<td colspan="5">No tasks</td>
			</tr>
			<tr th:each="rule : ${rules}">
				<td><a th:href="'/deleteRule/' + ${rule.id}" th:text="${rule.id}"/></td>
				<td th:text="${rule.name}">name</td>
				<td th:text="${rule.description}">description</td>
				<td th:text="${rule.comparison}">comparison</td>
				<td th:text="${rule.action}">action</td>				
			</tr>
		</tbody>
	</table>
	</div>
	<br class="floatClear" />	
	</div> <!-- ROW -->
	
	</div> <!-- CONTAINER -->
</body>

</html>